html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

.custom-banner h1 {
  color: #ff3841;
}
.custom-login {
  background-image: url(../../public/Images/Background_for_login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-close-button {
  position: absolute !important;
  right: 0 !important;
  z-index: 100 !important;
}
.cl-internal-b3fm6y,
.cl-footer {
  display: none !important;
}
.cl-rootBox,
.cl-card {
  width: 100% !important;
  margin: auto;
}
.cl-card {
  box-shadow: none;
}
.JoyModalDialog-root {
  background-color: white !important;

  border: none !important;
  box-shadow: 0px 0px 18px 13px #0000003b !important;
}
//MEDIA QUERIES
@media screen and (max-width: 768px) {
  .custom-banner {
    height: fit-content !important;
    text-align: center !important;
  }
}
@media screen and (min-width: 992px) {
  .css-s5qya8 {
    width: 400px !important;
  }
}
